@mixin btn($background-color, $color, $bold){
    background-color: $background-color;
    color: $color;
    border-radius: 50px;
    padding: 20px 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;

    //condicionales en sass
    @if($bold == 'true'){
        font-weight: bolder;
    }
}


.btn{
    &.btn-cta{ // en css .btn.btn.cta (&) ya identifica al cual selector se esta refiriendo
        position: relative;
        z-index: 2;
        @include btn( $primary-color, $secondary-color, 'true' );
        &:hover{ // en css .btn.btn-cta:hover
            @include btn($secondary-color, $terciary-color, 'true');
            box-shadow: $box-shadow;
        }
    }
    &:hover{// en css btn:hover
        @include btn ($terciary-color, $secondary-color, 'true');
        box-shadow: $box-shadow;
    }
    
}